.CAHHeader {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    
    .CAHTitle {
        height: 10vh;
        font-size: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 10px 10px 0 10px;
    }
}