.QuestionBank {
    
    .questionBlock {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        label {
            grid-row: 1;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 300;
            font-size:30px;
            text-align: center;
            margin-top: 25px;
        }
        select {
            grid-row: 2;
            height:37px;
            width:457px;
            justify-self: center;
            margin-top:10px;
        }
        button {
            grid-row: 3;
            height:37px;
            width:100px;
            justify-self: center;
        }
    }

    .ownquestion {
        display: grid;
        grid-template-rows: repeat(4,1fr);

        .ownQuestionLabel {
            grid-row: 1;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 300;
            font-size:30px;
            text-align: center;
            margin-top: 25px;
        }
        select {
            grid-row: 2;
            background-color: white;
            height:37px;
            width:457px;
            justify-self: center;
            margin-top:10px;
        }
        .inputtext {
            border: none;
            grid-row: 3;
            height:37px;
            width:450px;
            justify-self: center;
        }
        .submitownquestion {
            grid-row: 4;
            height:37px;
            width:457px;
            justify-self: center;
        }
    }

    .buildFormContainer {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;

          .buildForm {
            height:50px;
            width:200px;
            justify-self: center;
            font-weight: 500;
            font-size:large;
        }
    }
  
}
